.one{
    height: 19vh;
}

.modal-backdrop {
    z-index: 0;
    position: unset;
 
}

.chat {
    overflow-y: scroll;
    background-color: #f2f3f3;    
    -webkit-overflow-scrolling: touch;
    height: 460px !important;
    
}